<!DOCTYPE html>
<html lang="en">
<head>
    <div th:insert="fragments :: head"></div>
<!--    <link rel="stylesheet" th:href="@{home.css}">-->
<!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->

    <title>Home</title>
</head>
<body>
<header>
    <h2 ><span th:text="${userName}"></span></h2>
    <div th:if="${userName!=null}" th:insert="fragments :: logout"></div>
    <div th:if="${userName==null}" th:insert="fragments :: login"></div>
    <div th:if="${userName==null}" th:insert="fragments :: signup"></div>
    <!--    <div th:if="${userName==null}" ></div>-->
<!--        <a href="/login">Login</a>-->
<!--    <form method="Get" action="login">-->
<!--        <button type="submit">Login</button>-->
<!--    </form>-->

</header>
<main>
    <h2>WELCOOOOOOOOOOOOOME</h2>
</main>
<div th:replace="fragments :: footer"></div>
</body>
</html>