<!DOCTYPE html>
<html lang="en">
<head>
    <div th:insert="fragments :: head"></div>
    <title>login page</title>
</head>
<body>
<form action="perform_login" method="POST">
    <label for="username">User Name</label>
    <input id="username" name="username" type="text">
    <br>
    <label for="password">Password</label>
    <input id="password" name="password" type="password">
    <br>
    <button type="submit">login</button>
</form>
<div th:replace="fragments :: footer"></div>
</body>
</html>