<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
</head>
<body>
<form method="POST" action="/signup">

    <label for="firstName">First Name</label>
    <input id="firstName" name="firstName" type="text" >
    <br>
    <label for="lastName">Last Name</label>
    <input id="lastName" name="lastName" type="text">
    <br>

    <label for="username">User Name</label>
    <input id="username" name="username" type="text">
    <br>

    <label for="bio">Your Bio</label>
    <input id="bio" name="bio" type="text">
    <br>

    <label for="dateOfBirth">Your Date Of Birth</label>
    <input id="dateOfBirth" name="dateOfBirth" type="date">
    <br>

    <label for="password">Password</label>
    <input id="password" name="password" type="password">
    <br>

    <button type="submit">Sign up</button>

</form>
</body>
</html>